html{ font-size: 50px;
font-family: cursive;
margin: center;
background-color: pink;}

body {
    font-family: cursive;
    font-size: 100%;
    font-weight: 80%;
    line-height: 1em;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    vertical-align: baseline;
    background-image: url(donut2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    }
h1 {
    color: turquoise;
    text-shadow:  white 10px -20px 10px;
    }
article{
    color: turquoise;
    text-shadow: white 10px -20px 10px;
    }

    