header{ font-size: 50px;
    font-family: cursive;
    margin: center;
    background-color: pink;}
    
    body {
        color: turquoise;
        background-color:darkorchid;
        margin: 0 auto;
        width: 100%;
        max-width: 1020px;
        min-width: 640px;
    }
    .dropdown{
    display: inline-block;
}
.dropdown .content {
    display: none;
    position: absolute;
    background-color:lightcyan;
    min-width: 100px;
    box-shadow: 4px -4px 2px white;
} 
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: lightyellow;
}
.dropdown a:hover {
    background-color: lightyellow;
}
